<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">


<!--Content right-->
<div class="col-sm-9 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-3"><strong>Dashboard</strong></h5>

    <!--Dashboard widget-->
    <div class="mt-1 mb-3 button-container">
        <div class="row pl-0">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-white border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h6 class="mt-0 mb-0"><strong> {{usersCount}}</strong></h6>
                            <p><small class="text-muted bc-description">Number of Users</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-white border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-danger">
                            <i class="fas fa-user-minus"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h6 class="mt-0 mb-0"><strong>{{vendorsCount}}</strong></h6>
                            <p><small class="text-muted bc-description">Number of Vendors</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-theme border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                            <i class="fa fa-tags text-theme"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h6 class="mt-0 mb-0 text-white"><strong>{{productsCount}}</strong></h6>
                            <p><small class="bc-description text-white">Total Number of Products</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Dashboard widget-->

    <div class="row mt-3">
        {{!-- <div class="col-sm-12">
            <!--Revenue Graph-->
            <div class="mt-1 mb-3 button-container bg-white border shadow-sm p-3">
                <h6 class="mb-3">Revenue vs Cost Graph</h6>
                <hr>

                <div class="ct-chart" id="costRevenue" style="height: 350px;"></div>

            </div>
            <!--/Revenue Graph-->
        </div> --}}



        <div class="col-sm-12 col-xs-12 content pt-3 ">
            <h5 class="mb-0"><strong>Sales Report</strong></h5>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <!--Datatable-->
                    <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">From</span>
                            </div>
                            <input type="date" class="form-control" id="datemin" name="datemin" min="2021-01-01"
                                required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">To</span>
                            </div>
                            <input type="date" class="form-control" id="datemax" name="datemax" min="2021-01-02"
                                max='2000-13-13' required>
                        </div>
                        <button class="btn btn-primary" id="dateFilter"
                            onclick="dateFilter('{{session._id}}')">Filter</button>
                    </div>

                        <div class="table-responsive">
                            <table id="saleReport" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sl no</th>
                                        <th>Date</th>
                                        <th>Vendor</th>
                                        <th>Product</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each salesReport}}
                                    <tr>
                                        <td class="align-middle">{{SerialNumber @index}}</td>
                                        <td class="align-middle">{{formatDate this.date "DD-MM-YYYY"}}</td>
                                        <td class="align-middle">
                                            {{this.vendor.username}}
                                        </td>
                                        <td class="align-middle">
                                            {{this.order.product.ProductName}}

                                        </td>
                                        <td class="align-middle">
                                            {{!-- {{this.deliveryAddress.mobile}} --}}
                                            {{this.order.products.deliveryStatus}}
                                        </td>

                                        <td class="align-middle">{{this.order.products.price}}</td>
                                        <td class="align-middle">{{this.order.products.quantity}}</td>
                                        <td class="align-middle">{{padiAmount this.order.subTotal
                                            this.order.products.coupenDiscound}}</td>
                                    </tr>
                                    {{/each}}


                            </table>
                        </div>
                    </div>
                    <!--/Datatable-->
                </div>
            </div>
        </div>


    </div>
</div>



<script>
    $(document).ready(function () {
        $('#saleReport').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fa fa-files-o exportBtn text-primary"></i>',
                    titleAttr: 'Copy'
                },
                {
                    extend: 'pdf',
                    title: 'bigDeal Sales Report',
                    text: '<i class="fas fa-file-pdf exportBtn text-primary"></i>',
                    titleAttr: 'pdf'
                },
                {
                    extend: 'excel',
                    title: 'bigDeal Sales Report',
                    text: '<i class="fas fa-file-excel exportBtn text-primary"></i>',
                    titleAttr: 'excel'
                },
                {
                    extend: 'csv',
                    title: 'bigDeal Sales Report',
                    text: '<i class="fas fa-file-csv exportBtn text-primary"></i>',
                    titleAttr: 'csv'
                },
                {
                    extend: 'print',
                    title: 'bigDeal Sales Report',
                    text: '<i class="fas fa-print exportBtn text-primary"></i>',
                    titleAttr: 'print'
                }
            ]
        });
    });
</script>